<div class="jumbotron">
    <h2>Track a Work Items Release status.</h2><br/>
    <p class="lead">Release Tracker is an open-source TFS extension and Web Api project designed to help track a Work Item to Release relationship.</p>
    <p>This application serves as a temporary solution until such time that the functionality exists in Team Foundation Server (on-premise)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Please refer to the GitHub repository for installation instructions.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
</div>
